
/* Start Global */
 *
 {
 	padding: 0;
 	margin: 0;	
 }

/* End Global */ 
 
/* //////////////////////////////////////////////// */

/* Start Header */
.main 
{
	font-family: Segoe Print ;
	padding: 30px 70px;
	font-size: 20px
}

span { color: #4195ce; }

#memostra { font-size: 50px ; color: #649a51; }

#add_info 
{
	float: right;
	margin-top: -60px;
	color: #b8b6b6 ;
}

#add_mail
{
	float: right;
	color: #86ac75 ;
	margin-top: -25px;
}
/* End Header */ 

/* //////////////////////////////////////////////// */


/* Start Navigation bar */ 
ul {
    list-style-type: none;
    margin: 0px 70px;
    padding: 0;
    overflow: hidden;
    background-color: #1e8cc9;
    font-family: Arial ;
    font-weight: bold;
}
li{ float: left; }
li  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 25px
}
li:hover { background-color: #9dbfd4; } 
.image_div
{
	width: 25px;
	height: 25px;
	color: white;
}
.min
{
	width: 25px;
	height: 25px;
	margin: 12px 10px;
	float: right;
	border: 4px solid #7bc6ee;
	border-radius: 20%;
 }
/* End Navigation bar */

/* //////////////////////////////////////////////// */


/* Start The Welcome Image */
.welcome_img
{
	padding: 20px 67px ;
	width: 90%;
	position: relative;
}
.button
{
	width: 183px;
	height: 50px;
	position: absolute;
	background-color: #f28220;
	text-align: center;
	color: #edf0f5;
	left: 79%;
	top: 55%;
	font-family: Arial ;
	line-height: 50px;

}

/* End The Welcome Image */

/* //////////////////////////////////////////////// */


/* Start Category Section */
.Cat_men_women
{
	text-align: center;
	padding: 15px 11px 15px 15px;
	font-size: 20px;
	font-family: Arial;
}
.category
{
	width: 150px;
	height: 20px;
	margin: 10px -60px 10px 70px;
	background-color: #dfeef7;
	color: #136392;	
	float: left;
	outline: 2px solid #ededed;
	line-height: 20px;
}
.men
{
	width: 70px;
	height: 20px;
	margin: 10px -60px 10px 70px;
	background-color: #ededed;
	color: #a2a2a2;	
	float: left;
	border: 2px solid #DDD;
	line-height: 20px;
}
.women
{
	width: 90px;
	height: 20px;
	margin: 10px 70px;
	background-color: #ededed;
	color: #a2a2a2;	
	float: left;
	border: 2px solid #DDD;
	line-height: 20px;
}
.browse
{
	width: 220px;
	height: 10px;
	margin: 10px -60px 10px 350px;
	border: 5px solid #c5debb;
	outline: 2px solid #accc9e;
	color: #aeaeae;
	font-family:'Arial Rounded MT Bold';
	text-align: left;
	float: left;
	line-height: 10px;
}
.search
{
	width: 90px;
	height: 20px;
	margin: 10px -60px 10px 70px;
	background-color: #accc9e;
	color: #6e895c;
	font-style: bold;
	font-family: 'Arial Rounded MT Bold' ;
	float: left;
	line-height: 20px;
}

/* End Category Section */

/* //////////////////////////////////////////////// */


/* Start Line Section break */

.line 
{
    width:100%;
}
hr
{
    color: #c5debb;
    height: 0.05px;
    margin: 10px 67px 10px 70px;
}

/* End Line Section break */

/* //////////////////////////////////////////////// */


/* Start Clothes Image Section */
.clear
{
	clear: both;
}

.general
{
    	display : flex;
}

.handle_cloth
{
	float: left;
	color: #1e8cc9 ;
	font-family: Arial;
	width: 30%;
}
.right
{
	margin-right: 20px;
	margin-left: 20px;
	padding: 20px 0;
}
div.cotain_photo
{
	width: 320px;
	border: 10px solid #c5debb;
	margin: 10px;
}
div.cotain_photo img 
{
	width: 100%;
	height: auto;
}
.handle
{
	padding:  20px 20px 20px 60px; 
}
h3 { margin: 0 18px;  }

.price
{
	float: left;
	display: inline;
	margin-left: 10px;
	color: #444444;	
	font-size: 20px;
}
.code
{
	float: right;
	margin-right: 45px;
	color: #444444;	
	font-size: 20px;
}
.green{ color: #70a564; }
.gray{color: #757575; }

/* End Clothes Images Section */ 

/* //////////////////////////////////////////////// */

/* Start The Previous and Next Section */
.pre_next
{
	height: 100px;
	background-color:  #c5debb; 
	margin: 10px 67px 10px 70px;
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	color: white;
}
.pre
{
	width: 110px;
	height: 50px;
	background-color: #a5bfcf;
	float: left;
	margin: 25px;
	line-height: 50px;
}

.next
{
	width: 110px;
	height: 50px;
	background-color: #218cc8;
	margin: 25px;
	float: right;	
	line-height: 50px;
}
.num 
{
	width:50%;
	display: inline;
}
.one
{ 
	float: left; 
	width: 60px; 
	height:50px;
	background-color: #115c87; 
	margin: -75px 0px 10px 500px;
	line-height: 50px;
}
.three
{
	float: right;
	width: 60px;
	height:50px;
	background-color: #218cc8; 
	margin: -75px 500px 10px 0px;
	line-height: 50px;
}
.two
{
	margin: -75px auto; 
	width: 60px;
	height:50px;
	background-color: #218cc8; 
	line-height: 50px;
}

/* End The Previous and Next Section */

/* //////////////////////////////////////////////// */

/* Start Footer */
footer
{
	padding: 10px 67px 10px 70px;
	font-family: Calibri Light;
	color: #6d9295;
}

.left { float: left; }
.f_right { float:right; }
/* End Footer */

/* Hover Section */ 
#memostra:hover , #add_info:hover , #add_mail:hover , .left:hover , .f_right:hover
{ text-shadow: 1px 1px; }

.min:hover , .button:hover , .one:hover , .two:hover , .three:hover 
{
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.Cat_men_women:hover , .handle_cloth:hover , .pre:hover , .next:hover
{
	-ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9);
}
/*  /////////////////////////// */ 